# Custom Files
raw_main_dataset/
notebooks/



# Environment Files
.env

# Conda file
.conda/

# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Python bytecode
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Caches
.cache/
*.cache
*.tmp

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints

# Ignore VS Code settings
.vscode/

# Ignore Python environments
.Python
pdm.lock
poetry.lock
__pypackages__/